<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <connectionStrings>
            <add name="MyDatabase" connectionString="Server=localhost;Port=5432;Database=speedo;User Id=admin;Password=qwer1234;Pooling=true;MinPoolSize=10;MaxPoolSize=100;Protocol=3;" providerName="PostgreSQL" />
        </connectionStrings>
    </system.web>
    <appSettings>
        
    </appSettings>
</configuration>
